* {
  box-sizing: border-box;
}

html {
  background-color: hsl(0, 0%, 98%);
  font-family: "Open Sans";
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5rem;
  color: theme("colors.cGray");
}

h1 {
  color: theme("colors.cMaroon");
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: 300;
}

h2 {
  color: theme("colors.cMaroon");
  margin: 1rem 0;
  font-size: 1.7rem;
  font-weight: 300;
}

h3 {
  color: theme("colors.cMaroon");
  margin: 1rem 0;
  font-size: 1.3rem;
  font-weight: 300;
}
