h1 {
  color: theme("colors.cMaroon");
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-size: 2.2rem;
  font-weight: 300;
}

h2 {
  color: theme("colors.cMaroon");
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  font-weight: 300;
}

h3 {
  color: theme("colors.cMaroon");
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
}

blockquote {
  margin: 2rem 0;
  margin-left: 1em;
  border-left: 2px theme("colors.cMaroon") solid;
}

blockquote > p {
  margin-left: 1rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#content a {
  color: theme("colors.cMaroon");
}

ul {
  padding-left: 2rem;
  list-style-type: circle;
  list-style-position: outside;
}

/* Inline Code */
p > code {
  padding: 4px;
  border-radius: 4px;
  background: #e0e0e0;
  font-family: "MesloLGS-NF", monospace;
  direction: ltr;
  font-size: 16px;
}

pre {
  padding: 10px 10px;
  overflow: auto;
  border-radius: 12px;
  background: #343434;
}

pre > code {
  /* background: #343434; */
  font-family: "MesloLGS-NF", monospace;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  word-break: normal;
  white-space: pre;
  word-spacing: normal;
  tab-size: 4;
}
