---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
---

<BaseLayout title="Blog">
  {
    allPosts.map((post) => (
      <div class="mb-8">
        <div class="mb-1 text-lg text-cGray">
          {post.data.pubDate.toDateString().slice(4)}
        </div>
        <div class="mb-2">
          <a
            class="text-3xl font-light text-cMaroon decoration-dotted hover:underline"
            href={`/posts/${post.slug}`}
          >
            {post.data.title}
          </a>
        </div>
        <div class="italic text-cGray">{post.data.description}</div>
      </div>
    ))
  }
</BaseLayout>
