---
import Social from "./Social.astro";
---

<footer class="mt-10">
  <small>
    Copyright &copy Justin Lee <span id="copyright"></span>. Code samples in the
    blog are licensed under <a
      class="underline"
      href="https://choosealicense.com/licenses/mit/">MIT</a
    >.
  </small>
</footer>

<script>
  const cr = document.querySelector<HTMLElement>("#copyright");
  if (!cr) {
    throw new ReferenceError("Copyright not found.");
  }
  cr.textContent = new Date().getFullYear().toString();
</script>
