---
import Hamburger from "./Hamburger.astro";
import NavBar from "./NavBar.astro";
---

<header>
  <div>
    <span class="site-title">justinttl</span>
    <!-- <Hamburger /> -->
    <NavBar />
  </div>
</header>
