---
const navItems = [
  {
    name: "Home",
    href: "/",
  },
  {
    name: "About",
    href: "/about",
  },
  {
    name: "Blog",
    href: "/blog",
  },
  {
    name: "Projects",
    href: "/blog",
  },
];
---

<nav aria-label="Primary">
  {
    navItems.map((navItem) => (
      <a
        aria-label={navItem.name}
        href={navItem.href}
        class="mr-3 text-red-700 decoration-dotted underline-offset-2 hover:underline"
      >
        {navItem.name}
      </a>
    ))
  }
</nav>
