---
import { Icon } from "astro-icon/components";
---

<nav aria-label="Primary">
  <div class="navbar">
    <a aria-label="Home" href="/">Home</a>
    <a aria-label="About" href="/about/">About</a>
    <a aria-label="Blogs" href="/blogs/">Blogs</a>
  </div>
  <ul></ul>
</nav>
