---
---

<nav aria-label="Primary">
  <div class="navbar">
    <a aria-label="Home" href="/">Home</a>
    <a aria-label="About" href="/about/">About</a>
    <a aria-label="Blog" href="/blog/">Blogs</a>
  </div>
  <ul></ul>
</nav>
