---
import "../styles/global.css";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { AstroFont } from "astro-font";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <AstroFont
      config={[
        {
          name: "Open Sans",
          src: [
            {
              style: "normal",
              weight: "300",
              path: "/fonts/OpenSans-Light.woff2",
            },
            {
              style: "normal",
              weight: "400",
              path: "/fonts/OpenSans-Regular.woff2",
            },
            {
              style: "normal",
              weight: "700",
              path: "/fonts/OpenSans-Bold.woff2",
            },
            {
              style: "italic",
              weight: "300",
              path: "/fonts/OpenSans-LightItalic.woff2",
            },
            {
              style: "italic",
              weight: "400",
              path: "/fonts/OpenSans-Italic.woff2",
            },
          ],
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
        {
          name: "MesloLGS NF",
          src: [
            {
              style: "monospace",
              weight: "400",
              path: "/fonts/MesloLGS-NF-Regular.ttf",
            },
          ],
          preload: true,
          display: "swap",
          selector: "code",
          fallback: "sans-serif",
        },
      ]}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{`Justin | ${title}`}</title>
  </head>
  <Header />
  <section id="content">
    <slot />
  </section>
  <Footer />


</html>
